@font-face {
  font-family: "Micra Normal";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/level/assets/Micra Normal-5b20d63d.ttf") format("truetype");
}
@font-face {
  font-family: "Micra Bold";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/level/assets/Micra Bold-60b8576e.ttf") format("truetype");
}
@font-face {
  font-family: "Vonique 43";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/level/assets/Vonique 43-35ba03af.otf") format("truetype");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  all: unset;
}
input:hover, input:focus-visible, textarea:hover, textarea:focus-visible {
  border-color: rgba(255, 255, 255, 0.4);
  outline: none;
}
:root {
  font-family: Prata, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #0F0F0F;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a {
  color: white;
  text-decoration: inherit;
  font-weight: 400;
  cursor: pointer;
}
a span {
  color: #b3b3b3;
  font-weight: normal;
  transition: 0.3s ease;
}
a:hover {
  color: white;
}
a:hover span {
  color: white;
}
h1 {
  font-size: 1.3em;
  line-height: 1.4;
  color: white;
  font-family: "Vonique 43";
  text-transform: uppercase;
  word-spacing: 12px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
  color: white;
}
section {
  min-height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button {
  height: 45px;
  border: 0.5px solid transparent;
}
button:visited {
  color: #0F0F0F;
}
button:hover {
  border: 0.5px solid #dfc690;
}
button.accent {
  background: #dfc690;
  color: #0F0F0F;
}
button.accent:hover {
  box-shadow: 0 0 8px 1px #dfc690;
}
body {
  overflow: hidden;
}
.scroll-wrapper {
  max-height: 100svh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.scroll-wrapper.allowScroll {
  overflow-y: scroll;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes Record {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  30% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.logo__wrapper {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 6px));
}
.logo__wrapper.stop .logo__l, .logo__wrapper.stop .logo__l_rev, .logo__wrapper.stop .logo__e, .logo__wrapper.stop .logo__e_rev {
  stroke-dasharray: 0;
  animation: none;
  fill: white;
  stroke-width: 0;
}
.logo__l, .logo__l_rev {
  stroke-dasharray: 50;
  animation: dash 5s ease-in-out infinite;
}
.logo__e, .logo__e_rev {
  stroke-dasharray: 35;
  animation: dash 5s ease-in-out infinite;
}
.scrolled {
  position: relative;
}
.overlay_top, .overlay_bottom, .overlay_line {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  opacity: 1;
  background: #0F0F0F;
  height: 50%;
  width: 100%;
}
.overlay_line {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 0;
  height: 1px;
  background: white;
}
.overlay_line:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  background: #0F0F0F;
  height: 3px;
}
.overlay_top {
  top: 0;
}
.overlay_bottom {
  bottom: 0;
}
.header {
  min-height: 100svh;
  max-height: 100svh;
  width: 100vw;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #0F0F0F;
  width: 100%;
  height: 100%;
}
.header__line {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 32px;
}
.header__mobileImg {
  display: none;
  height: 100svh;
}
.header__links {
  position: relative;
  font-size: 1.6em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.header__links:hover .header__links__line {
  opacity: 1;
}
.header__links__line {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 32px;
  opacity: 0;
  background: #dfc690;
  transition: 0.3s;
}
.header__linksDot {
  margin-right: 32px;
  width: 4px;
  height: 1px;
  background: white;
}
.header__links a {
  font-weight: 100;
  margin-right: 32px;
  cursor: pointer;
  transition: 0.1s;
  position: relative;
  display: flex;
}
.header__links a:hover {
  color: #dfc690;
}
.header__middle {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__videoDecorations {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1024px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.header__videoDecorations__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header__videoDecorations__svgWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.header__videoDecorations__svgWrapper > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__videoDecoration_record {
  position: absolute;
  top: 12px;
  left: 12px;
}
.header__videoDecoration_animate {
  animation: Record 2s ease-in-out infinite;
}
.header__videoDecorationLeft {
  width: 43px;
}
.header__videoDecorationLeft_bottom svg {
  transform: rotate(-90deg);
}
.header__videoDecorationRight_bottom svg {
  transform: rotate(90deg);
}
.header__videoDecoration_right {
  height: 100%;
}
.header__heading {
  opacity: 0;
  margin-top: 0;
  font-weight: bold;
  background: linear-gradient(-54deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 37%, rgb(0, 0, 0) 39%, rgb(0, 0, 0) 39%, rgb(255, 255, 255) 41%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 300% auto;
  animation: textShine 7s ease-in-out infinite;
}
.header__logo {
  opacity: 0;
  display: flex;
}
.header__logo.show {
  opacity: 1;
}
.header__contacts {
  position: absolute;
  z-index: 44;
  bottom: 32px;
  right: 72px;
  color: white;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__contacts span {
  font-size: 0.83em;
  margin-top: -2px;
  vertical-align: text-top;
  display: inline-block;
}
.header__callButton {
  color: #dfc690;
  border-bottom: dashed 0.5px #dfc690;
  line-height: 1;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.header__callButton:hover {
  color: white;
  border-bottom: dashed 0.5px white;
}
.header__content {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header__arrowDown {
  position: absolute;
  z-index: 4;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebarLogotype {
  position: fixed;
  z-index: 99999999;
  top: 32px;
  left: 72px;
  display: flex;
  color: white;
}
.sidebarLogotype__text {
  margin-left: 12px;
}
.sidebarLogotype p {
  font-size: 0.8em;
  margin: 0;
  line-height: 0.8;
}
.sidebarLogotype p:first-child {
  margin-bottom: 4px;
}
.sidebar {
  position: fixed;
  z-index: 99999999;
  top: 32px;
  right: 68px;
  display: flex;
  margin-top: -4px;
}
.sidebar__lang {
  margin-right: 32px;
  margin-top: -4px;
  display: flex;
}
.sidebar__lang > div {
  color: white;
}
.sidebar__lang > div.active {
  color: #dfc690;
}
.sidebar__langButton {
  background: none;
  border: none;
  opacity: 1;
  font-size: 12px;
  padding: 0;
  font-weight: 400;
  color: inherit;
  cursor: pointer;
  transition: 0.15s;
  margin-right: 12px;
  font-family: "Vonique 43";
}
.sidebar__langButton.active {
  color: #dfc690;
}
.sidebar__langButton:hover {
  color: #dfc690;
}
.sidebarAnimate {
  opacity: 0;
}
.hamburger {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.hamburger:hover span:first-child {
  width: 60%;
}
.hamburger:hover span:last-child {
  transform: translateX(-10px);
}
.hamburger span {
  height: 3px;
  width: 100%;
  background: white;
  transition: 0.3s cubic-bezier(0.05, 0.87, 0.01, 1);
}
.hamburger span:last-child {
  width: 60%;
}
.hamburger.opened span:first-child, .hamburger.opened span:last-child {
  width: 60%;
}
.modal {
  width: 40vw;
  background: #0F0F0F;
  color: white;
  max-height: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #0F0F0F;
  opacity: 0;
  transition: 0.4s ease-out;
}
.modal__overlay.show {
  opacity: 0.7;
}
.modal__header {
  padding: 32px 32px;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
}
.modal__body {
  padding: 32px 72px;
}
.modal__footer {
  padding: 32px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__button {
  background: transparent;
  color: white;
  padding: 12px 32px;
  cursor: pointer;
}
.modal__button_accept {
  background: #dfc690;
  font-size: 1em;
  margin-right: 32px;
}
.modal__wrapper {
  display: none;
  top: 0;
  width: 100vw;
  position: fixed;
  height: 100svh;
  z-index: 6;
  align-items: center;
  justify-content: center;
}
.modal__decorLine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background: white;
}
.modal__decorLine_left {
  left: 0;
}
.modal__decorLine_right {
  right: 0;
}
.menu {
  position: relative;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: none;
  margin: 0 144px 0 0;
  padding-left: 0;
  width: 100%;
}
.menu__bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F0F0F;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.menu__bg.show {
  opacity: 0.7;
}
.menu__lang {
  color: white;
  margin-bottom: 32px;
  display: none;
}
.menu__lang > div.active {
  color: #dfc690;
}
.menu__logoText {
  margin-top: 12px;
}
.menu__logo {
  color: white;
  margin-bottom: 72px;
  opacity: 0;
}
.menu__logo p {
  line-height: 0.8;
  margin: 0;
}
.menu__logo p:first-child {
  margin-bottom: 4px;
}
.menu__linksWrapper {
  position: relative;
  z-index: 3;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 324px;
}
.menu__wrapper {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-end;
  display: none;
}
.menu__overlay {
  background: #0F0F0F;
  position: absolute;
  top: -100%;
  right: 0;
  width: 396px;
  height: 50vh;
}
.menu__overlay_bottom {
  top: auto;
  bottom: -100%;
}
.menu__line {
  position: absolute;
  right: 396px;
  top: 0;
  height: 30px;
  background: #dfc690;
  width: 1px;
  margin: 15px 0;
  transition: 0.3s ease-out;
  opacity: 0;
}
.menu__line.show {
  opacity: 1;
}
.menu__item {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 20px 0;
  height: 20px;
  transition: 0.15s;
  line-height: 0.8;
  max-height: 20px;
  opacity: 0;
}
.menu__item:hover {
  color: #dfc690;
}
.menu__item.active {
  color: #dfc690;
}
.menu__item.active:hover {
  margin-left: 0;
}
.show__wrapper {
  max-height: 100svh;
  width: 100vw;
  overflow: hidden;
}
.carousel {
  min-height: 100svh;
  width: calc(100vw - 400px);
  overflow: hidden;
}
.carousel__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carousel__imgWrapper {
  min-height: 100svh;
}
.carousel__actionWrapper {
  display: flex;
  flex-direction: column;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
}
.carousel__item.active {
  left: 0;
}
.carousel__item img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel__data {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.carousel__cardsWrapper {
  display: flex;
  position: relative;
  background: white;
}
.carousel__card {
  padding: 32px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.05, 0.87, 0.01, 1);
}
.carousel__cardLine {
  position: absolute;
  left: 0;
  width: 33.3333333333%;
  height: 100%;
  background: #0F0F0F;
  transition: 0.3s cubic-bezier(0.05, 0.87, 0.01, 1);
}
.carousel__cardAdvantages {
  display: flex;
  font-size: 0.8em;
}
.carousel__cardAdvantages div {
  margin-right: 8px;
}
.carousel__cardHeading {
  font-weight: bold;
}
.carousel__cardNumber {
  position: absolute;
  font-size: 6em;
  line-height: 0.8;
  font-weight: bold;
  top: 4px;
  left: -24px;
  opacity: 0.1;
}
.carousel__card.active {
  color: white;
}
.carousel__card.active:hover {
  background: transparent;
}
.carousel__card.active .carousel__cardHeading {
  color: #dfc690;
}
.carousel__card:hover {
  background: #f6efdf;
}
.carousel__info {
  position: relative;
  background: white;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0 72px;
  overflow: hidden;
}
.carousel__infoWrapper {
  position: relative;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 90px;
}
.carousel__infoItem {
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
}
.carousel__infoLine {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 90px;
  background: #0F0F0F;
}
.carousel__infoHeader {
  margin-bottom: 72px;
}
.carousel__infoReviews {
  font-size: 0.7em;
  background: #dfc690;
  padding: 4px 12px;
  width: max-content;
}
.carousel__navWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.carousel__arrows {
  display: flex;
}
.carousel__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: rgba(15, 15, 15, 0.8);
  transition: 0.15s;
}
.carousel__arrow_left.disabled, .carousel__arrow_right.disabled {
  opacity: 0.5;
  cursor: auto;
}
.carousel__arrow_left.disabled:hover, .carousel__arrow_right.disabled:hover {
  background: rgba(15, 15, 15, 0.8);
}
.carousel__arrow_right {
  transform: rotate(180deg);
}
.carousel__arrow:hover {
  background: #0F0F0F;
}
.carousel__infoLogo {
  width: 144px;
}
.carousel__infoButton {
  background: none;
  border: 1px solid #dfc690;
  font-size: 1.4em;
  height: auto;
  padding: 20px 32px;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.carousel__infoButton span {
  pointer-events: none;
  position: relative;
  z-index: 2;
  margin: 0;
}
.carousel__infoButton:after {
  content: "";
  visibility: hidden;
  position: absolute;
  transition: 0.3s cubic-bezier(0.05, 0.87, 0.01, 1);
  left: 0;
  top: 100%;
  height: 100%;
  width: 100%;
  background: #0F0F0F;
}
.carousel__infoButton:hover {
  color: #dfc690;
}
.carousel__infoButton:hover:after {
  visibility: visible;
  transform: translateY(-100%);
}
.carousel__advantages {
  width: 100%;
  margin-bottom: 60px;
}
.carousel__advantage {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}
.carousel__advantageLeft {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.carousel__advantageLeft svg {
  width: 100%;
  height: 100%;
}
.carousel__price {
  font-size: 2em;
  margin-bottom: 32px;
  line-height: 0.8;
  font-weight: 100;
  font-family: "Vonique 43";
}
.carousel__price span {
  font-size: 0.6em;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .overlay_line:after {
    width: 50px;
  }
  .logo__wrapper {
    width: 140px;
    transform: translate(-50%, calc(-50% + 3px));
  }
  .logo__wrapper svg {
    height: 100%;
    width: 100%;
  }
  .header__heading {
    font-size: 1.19em;
    width: 140px;
    margin-bottom: 0;
  }
  .header__logo {
    width: 140px;
    margin-bottom: 12px;
  }
  .header__logo svg {
    height: 100%;
    width: 100%;
  }
  .show__wrapper {
    height: 100svh;
  }
  .carousel {
    width: 100%;
    min-height: calc(100svg - 300px);
  }
  .carousel__imgWrapper {
    max-height: calc(100svg - 300px);
    min-height: calc(100svg - 300px);
  }
  .carousel__imgWrapper img {
    max-height: calc(100svg - 300px);
    min-height: calc(100svg - 300px);
  }
  .carousel__advantages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
  .carousel__advantage {
    margin-right: 32px;
  }
  .carousel__price {
    margin-bottom: 0;
  }
  .carousel__actionWrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .carousel__info {
    padding: 0 32px;
    width: 100%;
    height: 300px;
    border-top: 1px solid rgba(15, 15, 15, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel__infoWrapper {
    margin-top: 0;
  }
  .carousel__infoReviews {
    margin-left: 32px;
    font-size: 0.6em;
  }
  .carousel__infoHeader {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
  }
  .carousel__infoButton {
    width: auto;
    margin-right: 72px;
  }
  .carousel__infoItem {
    width: 100%;
  }
  .carousel__infoLine {
    display: none;
  }
  .carousel__data {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1em;
  }
  .sidebar {
    right: 32px;
  }
  .sidebar__lang {
    display: none;
  }
  .sidebarLogotype {
    left: 32px;
  }
  .sidebarLogotype__text {
    font-size: 1.2em;
  }
  .header__mobileImg {
    display: block;
  }
  .menu__lang {
    display: flex;
  }
  .carousel__data {
    width: 100%;
  }
  .carousel__navWrapper {
    width: 100%;
  }
  .carousel__cardsWrapper {
    width: 100%;
  }
  .carousel__card {
    padding: 12px;
    width: 33.33%;
  }
  .carousel__advantages {
    order: 2 !important;
    margin-bottom: 0;
  }
  .carousel__advantage {
    margin: 0 12px 12px 0;
    min-width: calc(50% - 12px);
  }
  .carousel__price {
    font-size: 1.4em;
    margin-left: 0;
  }
  .carousel__actionWrapper {
    order: 2;
    margin-bottom: 32px;
  }
  .carousel__infoItem {
    display: flex;
    flex-direction: column;
  }
  .carousel__infoItem > div {
    order: 1;
  }
  .carousel__infoLogo {
    width: 100px;
  }
  .carousel__infoReviews {
    position: absolute;
    top: 0;
    right: 0;
  }
  .carousel__infoReviews span {
    margin-bottom: 0;
  }
  .carousel__infoButton {
    padding: 12px 32px;
    font-size: 1.1em;
    margin-right: 32px;
  }
}
@media screen and (max-width: 460px) {
  .header__videoDecorations {
    height: 70vh;
    width: 84vw;
  }
  .header .header__videoDecorationRight svg, .header .header__videoDecorationLeft svg {
    width: 24px;
    height: 24px;
  }
  .header__arrowDown {
    left: 32px;
    transform: none;
  }
  .header__contacts {
    right: 32px;
  }
  .header__links {
    justify-content: space-between;
  }
  .header__linksDot {
    margin: 0 auto;
  }
  .header__links a {
    margin-right: 0;
  }
  .menu {
    padding-right: 32px;
    align-items: flex-end;
  }
  .menu__lang a {
    margin: 0 0 0 12px;
  }
  .modal {
    width: 90vw;
  }
  .modal__button {
    padding: 12px 32px;
  }
  .modal__button_accept {
    margin-right: 12px;
  }
  .modal__body {
    padding: 32px 32px;
  }
}