@font-face {
  font-family: 'Micra Normal';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/Micra Normal.ttf") format('truetype');
}

@font-face {
  font-family: 'Micra Bold';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/Micra Bold.ttf") format('truetype');
}


@font-face {
  font-family: 'Vonique 43';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("public/fonts/Vonique 43.otf") format('truetype');
}
