@import "variables";

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .overlay {
    &_line {
      &:after {
        width: 50px;
      }
    }
  }
  .logo {
    &__wrapper {
      width: 140px;
      transform: translate(-50%, calc(-50% + 3px));

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .header {
    &__heading {
      font-size: 1.19em;
      width: 140px;
      margin-bottom: 0;
    }

    &__logo {
      width: 140px;
      margin-bottom: $sm;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .show {
    &__wrapper {
      height: 100svh;
    }
  }
  .carousel {
    width: 100%;
    min-height: calc(100svg - 300px);

    &__imgWrapper {
      max-height: calc(100svg - 300px);
      min-height: calc(100svg - 300px);

      img {
        max-height: calc(100svg - 300px);
        min-height: calc(100svg - 300px);
      }
    }

    &__advantages {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $sm;
    }

    &__advantage {
      margin-right: $md;
    }

    &__price {
      margin-bottom: 0;
    }

    &__actionWrapper {
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }

    &__info {
      padding: 0 $md;
      width: 100%;
      height: 300px;
      border-top: 1px solid rgba($dark, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;

      &Wrapper {
        margin-top: 0;
      }

      &Reviews {
        margin-left: $md;
        font-size: 0.6em;
      }

      &Header {
        margin-bottom: $sm;
        display: flex;
        align-items: center;
        font-size: 1.3em;
      }

      &Button {
        width: auto;
        margin-right: $lg;
      }

      &Item {
        width: 100%;
      }
    }

    &__infoLine {
      display: none;
    }

    &__data {
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  h3 {
    font-size: 1em;
  }

  .sidebar {
    right: $md;

    &__lang {
      display: none;
    }
  }

  .sidebarLogotype {
    left: $md;

    &__text {
      font-size: 1.2em;
    }
  }

  .header {
    &__mobileImg {
      display: block;
    }
  }

  .menu {
    &__lang {
      display: flex;
    }
  }

  .carousel {

    &__data {
      width: 100%;
    }

    &__navWrapper {
      width: 100%;
    }

    &__cardsWrapper {
      width: 100%;
    }

    &__card {
      padding: $sm;
      width: 33.33%;
    }

    &__advantages {
      order: 2 !important;
      margin-bottom: 0;
    }

    &__advantage {
      margin: 0 $sm $sm 0;
      min-width: calc(50% - $sm);
    }

    &__price {
      font-size: 1.4em;
      margin-left: 0;
    }

    &__actionWrapper {
      order: 2;
      margin-bottom: $md;
    }

    &__info {

      &Item {
        display: flex;
        flex-direction: column;

        > div {
          order: 1;
        }
      }

      &Logo {
        width: 100px;
      }

      &Reviews {
        position: absolute;
        top: 0;
        right: 0;

        span {
          margin-bottom: 0;
        }
      }

      &Button {
        padding: $sm $md;
        font-size: 1.1em;
        margin-right: $md;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .header {
    &__videoDecorations {
      height: 70vh;
      width: 84vw;
    }


    .header__videoDecorationRight, .header__videoDecorationLeft {
      svg {
        width: $sm * 2;
        height: $sm * 2;
      }
    }

    &__arrowDown {
      left: $md;
      transform: none;
    }

    &__contacts {
      right: $md;
    }

    &__links {
      justify-content: space-between;

      &Dot {
        margin: 0 auto;
      }

      a {
        margin-right: 0;
      }
    }
  }
  .menu {
    padding-right: $md;
    align-items: flex-end;

    &__lang {
      a {
        margin: 0 0 0 $sm;
      }
    }
  }
  .modal {
    width: 90vw;

    &__button {
      padding: $sm $md;

      &_accept {
        margin-right: $sm;
      }
    }

    &__body {
      padding: $md $md;
    }
  }
}
