@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}


input, textarea {
  &:hover, &:focus-visible {
    border-color: rgba($gray, 0.4);
    outline: none;
  }
}