body {
  overflow: hidden;
}

.scroll-wrapper {
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;

  &.allowScroll {
    overflow-y: scroll;
  }
}


section {
  &:nth-child(2n) {
    background: #213547;
  }

  &:nth-child(2n - 1) {
    background: #2f2147;
  }
}
